body {
    background: #ffda00;
}

.coming-soon-field{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%)
}

.logo-field{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


.tagline-field{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%)
}

.img-responsive{
    max-width: 100%;
    height: auto;
    width: auto\9;
}
